<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Test</h1>

  </mat-toolbar>

  <div fxFlex></div>
  <div *ngIf="showStress" fxLayout="column" fxFlex="70%" style="width: 50%; margin: 0 auto;"
    class="typography-content__headings">
    <form class="reactiveForm " [formGroup]="stressForm" (ngSubmit)="test()">
      <mat-label>
        <h6 class="title-center ">In the LAST FEW WEEKS, how often have you:</h6>
      </mat-label>
      <mat-label class=" fw-medium">Been upset because of something that happened
        unexpectedly?
      </mat-label>
      <mat-radio-group class="example-radio-group " formControlName="sympt1">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of stressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Felt that you were unable to control important things in your life?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt2" class="example-radio-group">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of stressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Felt nervous and 'stressed'?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt3">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of stressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Felt confident about your ability to handle your personal problems?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt4">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of revStressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Felt that things were going your way?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt5">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of revStressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Found that you could NOT cope with all the things you had to do?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt6">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of stressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Been able to control irritations in your life?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt7">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of revStressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Felt that you were on top of things?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt8">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of revStressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Been angered because of things that happened that were out of your
        control?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt9">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of stressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Felt difficulties were piling up so high that you could not overcome
        them?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="sympt10">
        <mat-radio-button color="warn" class="example-radio-button" *ngFor="let answer of stressAns"
          [value]="answer.value">
          {{answer.name}}
        </mat-radio-button>
      </mat-radio-group>

      <button mat-flat-button color="warn" [disabled]="stressForm.invalid">Next</button>
    </form>
  </div>

  <div *ngIf="showAnxiety" fxLayout="column" fxFlex="70%" style="width: 50%; margin: 0 auto;"
    class="typography-content__headings">
    <form class="reactiveForm " [formGroup]="commonAnxietyForm" (ngSubmit)="collectAnxietySympt()">
      <mat-label>
        <h6 class="title-center ">In the LAST FEW WEEKS: </h6>
      </mat-label>
      <mat-label class=" fw-medium">Have you experienced rapid heart rate?
      </mat-label>
      <mat-radio-group class="example-radio-group " formControlName="asympt1">
        <mat-radio-button color="warn" class="example-radio-button" value="4">
          Yes
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          No
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium"> Have you experienced rapid and uncontrollable breathing?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="asympt2" class="example-radio-group">

        <mat-radio-button color="warn" class="example-radio-button" value="3">
          Yes
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          No
        </mat-radio-button>

      </mat-radio-group>

      <mat-label class=" fw-medium">Have you experienced issues with sleep?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="asympt3">
        <mat-radio-button color="warn" class="example-radio-button" value="2">
          Yes
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          No
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Have you felt difficulties with concentrating on what you are doing?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="asympt4">
        <mat-radio-button color="warn" class="example-radio-button" value="3">
          Yes
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          No
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Have you felt irritable with your surroundings? Especially with things you usually
        don't mind.
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="asympt7">
        <mat-radio-button color="warn" class="example-radio-button" value="6">
          Yes
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          No
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Have you been bothered with feelings of impending doom? As if something
        life-threatening or tragic is about to occur.
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="asympt8">
        <mat-radio-button color="warn" class="example-radio-button" value="3">
          Yes
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          No
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">How frequently do these symptoms occur?
      </mat-label>
      <mat-radio-group class="example-radio-group" formControlName="asympt10">
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          Not at all
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="no">
          Every few days
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="1">
          More than half od the days
        </mat-radio-button>
        <mat-radio-button color="warn" class="example-radio-button" value="1">
          Nearly every day
        </mat-radio-button>
      </mat-radio-group>

      <mat-label class=" fw-medium">Roughly choose a date when these symptoms have started.
      </mat-label>
      <mat-form-field>
        <mat-label>
          Start of symptoms
        </mat-label>
        <input matInput [matDatepicker]="picker" [max]="today" formControlName="asympt5">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-flat-button color="warn" [disabled]="commonAnxietyForm.invalid">Next</button>
    </form>
  </div>

  <div *ngIf="showDisorder" fxLayout="column" fxFlex="70%" style="width: 50%; margin: 0 auto;"
    class="typography-content__headings">
    <form class="example-section" [formGroup]="predominantForm" (ngSubmit)="collectDisorderSympt()">
      <mat-label>
        <h6 class="title-center ">Which of these choices resonate with you and your troubles the most? (Read carefully)
        </h6>
      </mat-label>
      <mat-radio-group class="example-radio-group " formControlName="Restlesness">
        <mat-radio-button color="warn" class="example-radio-button" value="0">Restlesness</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group " formControlName="ConstantWorrying">
        <mat-radio-button color="warn" class="example-radio-button" value="1">Constant Worrying (and it is often hard to
          determine
          outer cause)</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group " formControlName="FeelingsOfDread">
        <mat-radio-button color="warn" class="example-radio-button" value="2">Feelings Of Dread</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group " formControlName="DifficultyConcentrating">
        <mat-radio-button color="warn" class="example-radio-button" value="3">Difficulty Concentrating, Mind Wondering
          Of
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="Irritability">
        <mat-radio-button color="warn" class="example-radio-button" value="4">Irritability Over everything
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="IntrusiveThoughts">
        <mat-radio-button color="warn" class="example-radio-button" value="5">Intrusive and Unwanted Thoughts
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="SenseOfDoom">
        <mat-radio-button color="warn" class="example-radio-button" value="6">Feeling Sense Of Doom</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfDeath">
        <mat-radio-button color="warn" class="example-radio-button" value="7">Fear Of Death</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="PanicAttacks">
        <mat-radio-button color="warn" class="example-radio-button" value="8">Random Panic Attacks</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfCriticism">
        <mat-radio-button color="warn" class="example-radio-button" value="9">Fear Of Criticism</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfAttention">
        <mat-radio-button color="warn" class="example-radio-button" value="10">Fear Of Attention</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfEmbarassement">
        <mat-radio-button color="warn" class="example-radio-button" value="11">Fear Of Embarassement In Public
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfJudgement">
        <mat-radio-button color="warn" class="example-radio-button" value="12">Fear Of Judgement From Others
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="UpsettingDreams">
        <mat-radio-button color="warn" class="example-radio-button" value="13">Having Upsetting Dreams
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="EmotionalDistress">
        <mat-radio-button color="warn" class="example-radio-button" value="14">Emotional Distress</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="UnwantedMemories">
        <mat-radio-button color="warn" class="example-radio-button" value="15">Unwanted Memories Entering Your Mind
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="RelivingOfPast">
        <mat-radio-button color="warn" class="example-radio-button" value="16">Reliving Of Past Events
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="ExcessiveConcernIllnes">
        <mat-radio-button color="warn" class="example-radio-button" value="17">Excessive Concern Over Having a Terminal
          Illnes</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="ExcessiveConcernDeath">
        <mat-radio-button color="warn" class="example-radio-button" value="18">Excessive Concern Over Death
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="ExcessiveConcernMortality">
        <mat-radio-button color="warn" class="example-radio-button" value="19">Excessive Concern Over Mortality
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfContamination">
        <mat-radio-button color="warn" class="example-radio-button" value="20">Fear Of Contamination By Certain Things
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfLosingControl">
        <mat-radio-button color="warn" class="example-radio-button" value="21">Fear Of Losing Control Over Situation
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="FearOfFainting">
        <mat-radio-button color="warn" class="example-radio-button" value="22">Fear Of Sudden Fainting
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="hopelessness">
        <mat-radio-button color="warn" class="example-radio-button" value="0">Everything seems hopeless
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="suicidalThougths">
        <mat-radio-button color="warn" class="example-radio-button" value="1">Suicidal Thoughts
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="unbearablePain">
        <mat-radio-button color="warn" class="example-radio-button" value="2">Cripling, Unbearable Pain
        </mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="example-radio-group" formControlName="noReasonToLive">
        <mat-radio-button color="warn" class="example-radio-button" value="3">No Reasons To Go On
        </mat-radio-button>
      </mat-radio-group>

      <button type="button" [disabled]="loading" mat-flat-button color="accent" (click)="reset()">Reset Form</button>
      <button type="submit" [disabled]="loading" mat-flat-button color="warn">Show Results</button>
    </form>
  </div>

  <div *ngIf="showResult" fxLayout="column" fxFlex="70%" style="width: 50%; margin: 0 auto;">
    <h4>YOUR DIAGNOSIS:</h4>
    <mat-label>Stress level: </mat-label>
    <p>{{result.stressLevel}}</p>
    <mat-label>Name: </mat-label>
    <p>{{result.diagnosisName}}</p>
    <mat-label>Therapy name: </mat-label>
    <p> {{result.therapyName}}</p>
    <mat-label>Therapy description: </mat-label>
    <p>{{result.therapyDesc}}</p>
  </div>

  <app-footer></app-footer>
</app-layout>
